<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<ul>
    <li>
        <a th:href="@{/index/} + ${fox.name}">Information</a>
    </li>
    <li>
        <a th:href="@{/nutritionStore/} + ${fox.name}">Nutrition Store</a>
    </li>
    <li>
        <a th:href="@{/trickCenter/} + ${fox.name}">Trick Center</a>
    </li>
</ul>

<form action="#" th:action="@{/nutritionStore/} + ${fox.name}" method="post">

    Food :
    <select th:object="${fox}" name="food">
        <option th:each="food:${foods}" th:value="${food}" th:selected="*{food} == ${food}" th:text="${food}"></option>
    </select>

    Drink :
    <select th:object="${fox}" name="drink">
        <option th:each="drink:${drinks}" th:value="${drink}" th:selected="*{drink} == ${drink}"
                th:text="${drink}"></option>
    </select>


    <button type="submit" name="Change">Submit</button>

</form>
<ul>
    <li><a th:href="@{${fox.name}}">Back</a></li>
</ul>
</body>
</html>
